<!-- <div class="d-flex">
  <h1>NEWs</h1>

  <div>
    <h2>CATEGORIAS</h2>
    <div>
      <p>Negocios</p>
      <p>Entretenimiento</p>
      <p>General</p>
      <p>Salud</p>
      <p>Ciencia</p>
      <p>Deportes</p>
      <p>Tecnología</p>
    </div>
  </div> -->
  <!-- <div *ngFor="let article of articles" >
    <hr>
    <p>{{article.title}}</p>
    <div *ngIf="article.urlToImage">
      <img [src]='article.urlToImage' width="190" height="190">
    </div>
    <div *ngIf="article.description">
      <p>{{article.description}}</p>
    </div>
  </div> -->
<!-- </div> -->

<div class="content-fluid p-4">
  <h1>NOTICIAS-APP</h1>
</div>

<div>
  <router-outlet></router-outlet>
</div>