/* You can add global styles to this file, and also import other style files */
.font-arial {
    font-family: arial;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-flower {
    font-family: 'Send Flowers', cursive;
}

.font-satisfy {
    font-family: 'Satisfy', cursive;
}

.font-staatliches {
    font-family: 'Staatliches', cursive;
}

.font-orbitron {
    font-family: 'Orbitron', sans-serif;
}

.font-merienda {
    font-family: 'Merienda', cursive;
}

.font-creepster {
    font-family: 'Creepster', cursive;
}

.font-bungee {
    font-family: 'Bungee', cursive;
}